*{margin:0;
  padding:0;}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  background-image:url("bg.jpg");
  background-size:cover;

}

.outer{
transform:translate(0,5vh);
  height:80vh;  width:80vh;
  border-radius: 50%;
  border: solid 5px rgba(254, 0, 61, 0.53);
}

.needle{position: relative;transform-origin: 100%;
      }

    .hour{
      transform: rotate(488deg);
          height: 0px;
          width: 30vh;
          border: 3px solid black;
          left: 60px;
          top: -35.6vh;
    }

.minute {
  top: -36.5vh;
transform: rotate(810deg);
height: 0px;
width: 32vh;
border: 2px solid black;
left: 48px;
}
.second{
  transform: rotate(91deg);
    height: 0px;
    width: 38vh;
    border: 1.5px solid black;
    left: 8px;
    top: -18.2vw;}
